.section_p {
  padding: 3rem 0;

  @media (min-width: 1280px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: 1450px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: 1650px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .title1 {
    font-family: 'Pretendard-Medium';
    font-size: 17px;
    color: #111111;
    opacity: 0.5;
    margin-top: 50%;
    margin-left: 20%;
  }

  .title2 {
    font-family: 'Pretendard-Bold';
    font-size: 50px;
    margin-left: 20%;
    white-space: nowrap;
  }

  .option-btn {
    border: 1px solid #713131;
    border-radius: 3rem;
    margin-left: 20%;
    margin-top: 12%;
    background-color: #713131;
    color: #FFFFFF;
    font-family: 'Pretendard-Medium';
    font-size: 20px;
  }

  .santa-hat {
    width: 50%;
    left: 70%;
    top: 60%;
  }
}