.section_p {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (min-width: 1280px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: 1450px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: 1650px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .title1 {
    font-family: 'Pretendard-Medium';
    font-size: 17px;
    color: #111111;
    opacity: 0.5;
  }
  }
  

  .text_box .option-btn {
    border: 1px solid #713131;
    border-radius: 3rem;
    padding: 32px 27px;
    background-color: #713131;
    color: #FFFFFF;
    font-family: 'Pretendard-Medium';
    font-size: 20px;
  }
  .text_box .title2 {
    font-family: 'Pretendard-Bold';
    font-size: 50px;
    white-space: nowrap;
    line-height: 60px;
  }
  .text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-left: 50px;
  }
  @media(max-width:420px){
    .section_p .title1 {
      color: #FFFFFF50;
      font-size: 12px;
    }
    .text_box .title2 {
      font-size: 16px;
      line-height: 30px;
      color: #FFFFFF;
    }
    .text_box {
      background-color: #713131;
      padding-left: 0;
      align-items: center;
      gap: 20px;
      text-align: center;
    }
   .text_box .option-btn {
    border: 1px solid #FFFFFF !important;
    border-radius: 3rem;
    color: #FFFFFF;
    font-size: 14px !important;
    padding: 10px 20px;
    }
  }


  .santa-hat {
    width: 50%;
    left: 70%;
    top: 52%;
  }
