.lineup {
  width: 99vw;
  height: 80vh;

  .title1 {
    color: #713131;
    top: 40%;
    left: 35%;
    font-family: 'Pretendard-Regular';
    font-size: 40px;
  }

  .title2 {
    font-family: 'Pretendard-Bold';
    font-size: 40px;
  }

  .title3 {
    color: white;
    font-family: 'Pretendardard-Regular';
    font-size: 40px;
    top: 35%;
    left: 30%;
  }

  .title4 {
    font-family: 'Pretendard-Bold';
    font-size: 40px;
  }

  .title5 {
    color: #222222;
    font-family: 'Pretendard-Regular';
    font-size: 40px;
    top: 35%;
    left: 30%;
  }

  .title6 {
    font-family: 'Pretendard-Bold';
    font-size: 40px;
  }

  .arrow_icon {
    width: 90px;
    height: auto;
    margin-left: 10%;
  }
}

/* lineup background images */
.lineup_img1,
.lineup_img2,
.lineup_img3 {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.lineup_img1 {
  background-image:
    linear-gradient(rgba(255, 253, 233, 0.8), rgba(255, 253, 233, 0.8)),
    url("/img/lineup_picture1.jpg");
}

.lineup_img2 {
  background-image:
    linear-gradient(rgba(123, 112, 106, 0.8), rgba(123, 112, 106, 0.8)),
    url("/img/lineup_picture2.jpg");
}

.lineup_img3 {
  background-image:
    linear-gradient(rgba(185, 184, 184, 0.8), rgba(185, 184, 184, 0.8)),
    url("/img/lineup_picture3.jpg");
}
