.background-image4{
    background-color: #F6F1EB;
    background-image: url("/img/background4.png");
    background-size: contain;
    /*width: 100vw;
    /*height: calc(100vw * (793/1920));
    /*position:relative;
    */
}
.product-item{
    position: relative;

    &::after{
        content: "";
        position: absolute;
        right: -0.625rem;
        width: 2px;
        background-color: rgba(113, 49, 49, 0.12);
        height: 85%;
        top: 10%;
    }
    &:last-child::after {
        display: none;
    }
}
