    .background-image2{
        background-image: url("/img/sofa.png");
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .title1{
        font-family: 'Cafe24Classic';
        color : #FFFFFF;
        font-size: clamp(20px,18px + 2vw,70px);
        font-weight: 400;
    }
    .title2{
        font-family: 'Pretendard-Regular';
        color:#FFFFFF;
        font-size: clamp(12px,10px + 1vw,45px);
    }

    .prodMain{
        background-color: #6d1511;
        background: linear-gradient(to bottom, #6d1511 0%, rgba(109, 21, 17, 0) 100%);
    }
    .text-wrapper{
        background-image: url("/img/santa.png");
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }
