    .prodMain{
        background-color: #6d1511;
        background: linear-gradient(to bottom, #6d1511 0%, rgba(109, 21, 17, 0) 100%);
    }
    .text-wrapper{
        background-image: url("/img/santa.png");
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }
