.background-image4{
    background-color: #F6F1EB;
    background-image: url("/img/background4.png");
    background-size: contain;
    /*width: 100vw;
    /*height: calc(100vw * (793/1920));
    /*position:relative;
    */
    .sofa-wrapper{
    /*display:flex;
    /*justify-content: center;
    /*gap:5%;
    /*position:absolute;
    /*top:20%;
    /*width: 100vw;
    */
    }
}



.dot-wrapper{
    display:flex;
    gap:2%;
}

.product_words{
    font-family: 'Pretendard-Bold';
    font-size: 25px;
    margin-top:5%;

    line-height: 1.4;
    min-height: calc(25px * 1.4 * 2);
}
.word-wrapper{
    display:flex;
    justify-content: space-between;

    .word1{
        color:#ADADAD;
        text-decoration: line-through;
        font-family: 'Pretendard-Medium';
        font-size:20px;
    }
    .word2{
        color:#713131;
        font-family: 'Pretendard-Bold';
        font-size:25px;
        text-align: right;
    }
}

.product-item{
    position: relative;

    &::after{
        content: "";
        position: absolute;
        right: -15%;
        width: 2px;
        background-color: rgba(113, 49, 49, 0.12);
        height: 85%;
        top: 10%;
    }
    @media (max-width: 1440px) {
        .product-item{
            width:400px;
        }
    }

    @media (max-width: 1280px) {
        .product-item{
            width:300px;
        }
    }
}
