.background-image3{
    background-color: #6D1511;
    background-image: url("/img/background3.png");
    background-size: contain;
    display:block;
    width: 100vw;
    height: calc(100vw * (1220/1919));
    position:relative;
}
.background-image3 .text-wrapper{
    position:absolute;
    top:10%;
    left:10%;
}

.background-image3 .title1{
    font-family: 'Pretendard-Regular';
    color:#F6F1EB;
    font-size:25px;
}
.background-image3 .title2{
    font-family: 'Pretendard-Bold';
    color:#F5F5F5;
    font-size: 60px;
}
.background-image3 .text-wrapper2{
    position:absolute;
    top:10%;
    left:70%;
}
.background-image3 .title3{
    font-family: 'Pretendard-Regular';
    color:#F6F1EB;
    font-size:25px;
    text-align: right;
}

.background-image3 .fabric-wrapper{
    display:flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top:27%;
    gap:10px;
}

.background-image3 .fabric-card{
    width: 26%;
    height: 100%;
    background:#F6F1EB;
    display: flex;
    flex-direction: column;
    align-items: center;   /* ← 이미지 + 텍스트 중앙정렬 */
    padding-top:1%; 
    padding-bottom:2%;
    border-radius: 20px;
}

.fabric-card img {
    width: 90%;
    height: 90%;
}

.background-image3 .fabric-wrapper .card-title{
    font-family: 'Pretendard-Bold';
    color:#6D1511;
    font-size:25px;
    width:75%;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 5%;
}
.background-image3 .fabric-wrapper .card-desc{
    font-family: 'Pretendard-Regular';
    color:#7B706A;
    font-size:20px;
    width:80%;
    text-align: left;
}

.background-image3 .santa-hat-card{
    position:relative;
}

.background-image3 .santa-hat-card .santa-hat{
    position:absolute;
    width:45%;
    height:30%;
    top:-13%;
    left:85%;
}