.background-image5{
    background-color: #FFFFFF;
    background-image: url("/img/background5.png");
    width: 100vw;
    height: calc(100vw * (819/1920));
    background-size: contain;
    position: relative;
}
.background-image5 .event{
    background-color: #F6F1EB;
    border-radius: 8px;
    mask-image: linear-gradient(
        to right, /* 방향을 오른쪽으로 변경 */
        black 90%,      /* 시작 부분 (왼쪽)은 불투명하게 (검은색) */
        transparent 100% /* 끝 부분 (오른쪽)은 완전히 투명하게 */
    );
    -webkit-mask-image: linear-gradient( /*safari에서는 이와같이해야 적용됨*/
        to right,
        black 90%
        transparent 100%,
       
    );    
}