.background-image4{
    background-color: #F6F1EB;
    background-image: url("../img/background4.png");
    background-size: contain;
    width: 100vw;
    height: calc(100vw * (793/1920));
    position:relative;
}

.background-image4 .sofa-wrapper{
    display:flex;
    justify-content: center;
    gap:5%;
    position:absolute;
    top:20%;
    width: 100vw;
}

.background-image4 .dot-wrapper{
    display:flex;
    gap:2%;
}

.background-image4 .product_words{
    font-family: 'Pretendard-Bold';
    font-size: 25px;
    margin-top:5%;

    line-height: 1.4;
    min-height: calc(25px * 1.4 * 2);
}
.background-image4 .word-wrapper{
    display:flex;
    justify-content: space-between;
}
.background-image4 .word1{
    color:#ADADAD;
    text-decoration: line-through;
    font-family: 'Pretendard-Medium';
    font-size:20px;
}
.background-image4 .word2{
    color:#713131;
    font-family: 'Pretendard-Bold';
    font-size:25px;
    text-align: right;
}
.background-image4 .product-item{
    position: relative;
}
.background-image4 .product-item::after{
    content: "";
    position: absolute;
    right: -15%;

    width: 2px;
    background-color: rgba(113, 49, 49, 0.12);
    height: 85%;
    top: 10%;
}