#taste {
  .taste_bg {
    background-color: #F5F5F5;
    width: 100vw;
    height: calc(100vw * 800 / 1920);
    padding: 100px 0 150px;

    @media (max-width: 1200px) {
      background-color: white;
      padding: 120px 0 100px;
    }

    @media (max-width: 420px) {
      padding: 60px 0 30px;
    }
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }

  .title2 {
    font-family: 'Pretendard-Medium';
    font-size: 25px;
    line-height: 33px;
    }

  .taste_icon {
    width: 68.333px;
    height: 50px;
  }

  .swiper-container {
    width: 100%;
    margin: 0 auto;
  }

  .swiper-slide {
    padding: 12px;
    min-height: 300px;

    .title1 {
      font-family: 'Pretendard-Bold';
      font-size: 50px;
      color: #713131;
    }

    .title2 {
      font-family: 'Pretendard-Bold';
      font-size: 40px;
      color: #111111;
      padding-left: 1.8%;
      padding-top: 0.3%;
    }
    @media(max-width:768px){
      .title2{font-size: 16px;}
    }


    .dynamic-area {
      margin-top: 10%;
      display: flex;
      justify-content: center;
      gap: 3rem;
      position: relative;
      height: 200px;
    }
    @media(max-width:768px){
      .dynamic-area {
        margin-top: 15%;
        height: 0;
      }
    }
  }

  .text_sm {
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5.5rem;
    font-family: 'Pretendard-Medium';
    color: #111111;
    opacity: 0.5;
  }
   @media(max-width:768px){
    .text_sm {font-size: 12px;
    padding-left: 1.5rem;}
    .title1 {font-size: 16px !important;}
   }

  .swiper-scrollbar {
    background: #e0e0e0 !important;
    height: 3px !important;
    width: 30% !important;
    top: 40% !important;
    left: 7.5% !important;
  }

  .swiper-pagination {
    font-size: 14px;
    color: #333;
    min-width: 25px;
    top: 38% !important;
    left: -10% !important;
    z-index: 1 !important;
    pointer-events: none;
  }
  @media(max-width:768px){
    .swiper-pagination {
      font-size: 10px;
      top: 28% !important;
      left: 5% !important;
    }
    .swiper-scrollbar {
      top: 30% !important;
      left: 10% !important;
    }
  }
}

/* 버튼 공통 */
.option-button,
.category-button {
  width: 200px;
  height: 70px;
  border: 1px solid #909090;
  cursor: pointer;
  background-color: white;
  transition: background 0.2s;
  border-radius: 3rem;
  font-family: 'Pretendard-Medium';
  font-size: 24px;

  &:hover {
    background: #713131;
    color: white;
  }

  &.selected {
    background-color: #713131;
    color: white;
  }
}

@media(max-width:768px){
  .option-button,
  .category-button {
    width: 118px;
    height: 40px;
    font-size: 14px;
  }

}

/* swiper navigation */
.swiper-button-next,
.swiper-button-prev {
  color: #ADADAD !important;
  top: 50%;
  z-index: 10;

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

/* 결과 버튼 영역 */
.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 12%;
  position: absolute;
}

.restart-btn {
  font-family: 'Pretendard-Medium';
  font-size: 24px;
  opacity: 0.4;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 20px;

  &:hover {
    opacity: 1;
  }
}
.result-btn {
  font-family: 'Pretendard-Medium';
  font-size: 24px;
  color: #713131;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media(max-width:768px){
  .restart-btn{ font-size: 10px;}
  .result-btn { font-size: 10px;}
  .arrow_ico {width: 20px;}
  .button-group {margin-top: 35%; gap: 10px}
}



.bar {
  font-size: 30px;
  color: #D9D9D9;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 420px) {
    font-size: 10px;
  }

  
}
