@font-face{
    font-family: 'Cafe24Classic';
    src:url('/font/Cafe24Classictype-v1.1.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Pretendard-Medium';
    src:url('/font/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;                                        
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Pretendard-Regular';
    src:url('/font/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Pretendard-Bold';
    src:url('/font/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
.background-image1{
    background-image:url("/img/background1.png");
    width: 100vw;
    height: 0;
    padding-top: 141.4%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.background-image1::after{
    background-image: url("/img/moncasa_bottom.png");
    content:"";
    position: absolute;
    width:100%;
    height: 100%;
    bottom: 5%;
    left:50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.img_HolidaySeason{
    position: absolute;
    top:17%;
    left:25%;
    width: 50vw;
    height: auto;
}
.img_star{
    position: absolute;
    top:31%;
    left:14%;
    transform: rotate(-2deg);
    width: 50vw;
    height: auto;
}
.background-image1 .text-wrapper{    
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: -130%; /* 원하는 만큼 조절 */

}
.background-image1 .title1{
    font-family: 'Cafe24Classic';
    color : #F6F1EB;
    font-size: clamp(50px,5vw,100px);
    font-weight: 400;
}
.background-image1 .title2{
    font-family: 'Pretendard-Medium';
    color:#ADADAD;
    font-size: clamp(10px,1vw,45px);
    text-align: center;
    margin-top: 3%;
}
.background-image2{
    background-image:url("/img/background2.png");
    width: 100vw;
    height: 0;
    padding-top: calc(100vw * 9 / 8);
    background-size:contain;
    position : relative;
    display: flex;
    justify-content: center;
}

.img_sofa{
    width: 100%;
    height: auto;
    position : absolute;

    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 40%
    );
    -webkit-mask-image: linear-gradient( /*safari에서는 이와같이해야 적용됨*/
        to bottom,
        transparent 0%,
        black 40%
    );
}
.img_santa{
    width: 100%;
    height: auto;
    position : absolute;

}
/*
.fade-overlay{
    position:absolute;
    bottom: 54%;
  left:0;
  width:100%;
  height:180px; 
  background:linear-gradient(
      rgba(139,0,0,1),
      rgba(139,0,0,0)
  );
  pointer-events:none;
}
  */
.background-image2 .text-wrapper{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position:absolute;
    top:10%;
}
.background-image2 .title1{
    font-family: 'Cafe24Classic';
    color : #FFFFFF;
    font-size: clamp(20px,3vw,70px);
    font-weight: 400;
}
.background-image2 .title2{
    font-family: 'Pretendard-Regular';
    color:#FFFFFF;
    font-size: clamp(10px,1vw,45px);
}
.background-image3{
    background-color: #6D1511;
    background-image: url("/img/background3.png");
    background-size: contain;
    display:block;
    width: 100vw;
    height: calc(100vw * (1220/1919));
    position:relative;
}
.background-image3 .text-wrapper{
    position:absolute;
    top:10%;
    left:10%;
}

.background-image3 .title1{
    font-family: 'Pretendard-Regular';
    color:#F6F1EB;
    font-size:25px;
}
.background-image3 .title2{
    font-family: 'Pretendard-Bold';
    color:#F5F5F5;
    font-size: 60px;
}
.background-image3 .text-wrapper2{
    position:absolute;
    top:10%;
    left:70%;
}
.background-image3 .title3{
    font-family: 'Pretendard-Regular';
    color:#F6F1EB;
    font-size:25px;
    text-align: right;
}

.background-image3 .fabric-wrapper{
    display:flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top:27%;
    gap:10px;
}

.background-image3 .fabric-card{
    width: 26%;
    height: 100%;
    background:#F6F1EB;
    display: flex;
    flex-direction: column;
    align-items: center;   /* ← 이미지 + 텍스트 중앙정렬 */
    padding-top:1%; 
    padding-bottom:2%;
    border-radius: 20px;
}

.fabric-card img {
    width: 90%;
    height: 90%;
}

.background-image3 .fabric-wrapper .card-title{
    font-family: 'Pretendard-Bold';
    color:#6D1511;
    font-size:25px;
    width:75%;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 5%;
}
.background-image3 .fabric-wrapper .card-desc{
    font-family: 'Pretendard-Regular';
    color:#7B706A;
    font-size:20px;
    width:80%;
    text-align: left;
}

.background-image3 .santa-hat-card{
    position:relative;
}

.background-image3 .santa-hat-card .santa-hat{
    position:absolute;
    width:45%;
    height:30%;
    top:-13%;
    left:85%;
}